.field {
  height: 33.33%;
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: double;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.cur:hover {
  cursor: pointer;
}

/* .strike-row-0 {
  width: 500px;
  height: 3px;
  top: 36%;
}

.strike-row-3 {
  width: 500px;
  height: 3px;
  top: 56.4%;
}

.strike-row-6 {
  width: 500px;
  height: 3px;
  bottom: 23%;
}

.strike-column-0 {
  width: 3px;
  height: 350px;
  left: 35.5%;
}

.strike-column-1 {
  width: 3px;
  height: 350px;
  left: 50%;
}

.strike-column-2 {
  width: 3px;
  height: 350px;
  left: 64.5%;
}

.strike-diagonal-2 {
  width: 3px;
  height: 600px;
  left: 49%;
  transform: rotate(55deg);
}

.strike-diagonal-1 {
  width: 3px;
  height: 600px;
  left: 51%;
  transform: rotate(-55deg);
} */
